<div class="container">
  <h1>Tweet</h1>
  <form id="tweet" name="input" action="/tweet" method="Post">
    <input placeholder="tweet" type="text" name="tweet">
    <input type="submit" value="Submit">
  </form>

</div>
