<div class="container">
  <h1>TaraTweeter</h1>
  <p id="reply">You haven't tweeted anything yet</p>

  <form id="tweet" method="post" action="/tweet">
  <input type="text" name="tweet" maxlength="140">
  <div class="submit"><input type="submit" value="tweet"></div>
  </form>

</div>
